<div>Hello block!</div>

{% schema %}
{
    "name": "Demo block",
    "settings": [
            {
                "type": "header",
                "content": "Demo block settings",
                "info": "Settings for the demo block"
            }
        ],
    "presets": [
        {
            "name": "Demo block"
        }
    ]
}
{% endschema %}